:root {
    --color-blue: #4A72CE;
    --color-blue-opaciti-85: rgba(74, 114, 206, 0.85);
    --color-light-blue: #5FB2D6;
    --color-dark-blue: #43b1e0;
    --color-dark: #555555;
	--color-gray: #EFEFEF;
	--color-white: #FFFFFF;
    --color-dark-gray: #A9A9A9;
    --color-white-gray: #E5E5E5;
    --font-main: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-second: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}