/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-medium {
	@include medium(display, none !important);
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark {
        background-color: var(--color-dark);
    }
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-orange);
}

/* Title */

.title {
    font-family: var(--font-gotham);
    font-style: normal;
    margin: 0;
    &--big {
		font-size: 45px;
        font-size: responsive 16px 45px;
        font-range: 320px 1440px;
    }
    &--large {
        font-size: responsive 20px 26px;
        font-range: 1024px 1440px;
    }
    &--medium {
        font-size: responsive 18px 22px;
        font-range: 1024px 1440px;
    }
    &--small {
        font-size: 16px;
    }
    &--tiny {
        font-size: 12px;
    }
    &--orange {
        color: var(--color-orange);
    }
    &--white {
        color: var(--color-white);
	}
    &--black-gray {
		color: var(--color-black-gray); 
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-normal {
		font-weight: 400;
	}
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 30px 50px;
    @include tablet(margin, 0 0 20px 15px);
    @include mobile(margin, 0 0 20px 0);
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&--black-gray {
		color: var(--color-black-gray); 
	}
	&--orange {
		color: var(--color-orange);
	}
	&--white {
		color: var(--color-white);
	}
	&--big {
		font-size: 22px;
        font-size: responsive 20px 30px;
        font-range: 320px 1440px;
	}
	&--large {
		font-size: 22px;
        font-size: responsive 14px 22px;
        font-range: 320px 1440px;
	}
	&--normal {
        font-size: responsive 12px 16px;
        font-range: 1024px 1440px;
	}
	&--small {
		font-size: 12px;
	}
	&--tiny {
		font-size: 10px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
    }
	&--w-black {
		font-weight: 900;
    }
    &--italic {
        font-style: italic;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}