<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <meta name="og:image" content="img/social.png"/>
        <meta name="robots" content="index, follow"/>
        <meta name="theme-color" content="#000"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#000"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="css/style.min.css"/>
    </head>
<body class="page bg--white">

    {% include "partials/_grid.html" %}
    {% include "partials/_header.html" %}
    
    <!-- MAIN -->
    <main class="main page__container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- /. MAIN -->
    
    {% include "partials/_footer.html" %}