<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <meta name="og:image" content="img/social.png"/>
        <meta name="robots" content="index, follow"/>
        <meta name="theme-color" content="#000"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#000"/>
        <title>Главная</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.min.css"/>
    </head>
<body class="page bg--gray">