.page {
    position: relative;
	margin: 0;
	font-family: var(--font-roboto);
	font-size: 16px;
    line-height: 1.25;
	background-color: var(--color-white);
    overflow-x: hidden;
    &__container {
        max-width: 1920px;
        margin: 0 auto;
    }
}