@charset "UTF-8";
@import "./base/smart-grid";
/* Fonts */
@import "./base/font";
/* Variables */
@import "./base/variables";
/* Base */
@import "./base/base";
/* Animation */
@import "./base/animation";
/* Base Classes */
@import "./base/classes";

/* ANOTHER MODULES */

/* Swiper Slider Examples*/
// @import "./blocks/swiper/swiper";

/* ANOTHER MODULES */

/* Blocks */
/* Page */
@import "./blocks/page/page";

/* MEDIA QUERIES */